/* Routes ***********************************************************/

.home .repo-summary-well { margin-top: 100px; }

/* Utils ************************************************************/

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.monospace {
  font-family: monospace;
}

/* Components *******************************************************/

.repo-summary-well {
  dl {
    width: 640px;
    padding-top: 24px;
    padding-bottom: 24px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 0px;

    dt { width: 160px; }
    dd { width: 440px; }
  }
}
