/* Routes ***********************************************************/

.home .repo-summary-panel { margin-top: 16px; }

.code-overview .loading-placeholder {
  i.loading-cog {
    opacity: 0.95;
    font-size: 136px;
  }

  code.loading-code-label {
    margin-top: -9px; margin-left: -76px;
  }
}

.refactor-diligence {
  .loading-placeholder code.loading-code-label {
    margin-top: 97px; margin-left: -208;
  }

  /* This changes the default breadcrumb separator to be a ruby module namespace */
  .breadcrumb > li + li::before {
    content: "::" !important;
  }
}

/* Utils ************************************************************/

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fill-screen {
  width: 100%;
  height: 100vh;
}

.monospace {
  font-family: monospace;
}

/* Components *******************************************************/

.repo-summary-panel {
  padding-top: 16px;
  padding-bottom: 16px;

  dl { margin-bottom: 0; }
}

.loading-placeholder {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 180px;

  left: 50%;
  margin-left: -90px;
  margin-top: 160px;

  code.loading-code-label {
    position: absolute;
    white-space: nowrap;
    box-shadow: black 0px 0px 1px;
    top: 50%; left: 50%;
  }
}

