.repos
  .row
    .col-md-offset-2.col-md-8.col-sm-offset-2.col-sm-8.col-xs-offset-1.col-xs-10
      .panel.panel-default
        .panel-body
          h3.panel-title
            input.form-control(
              type='text' ng-model='ctrl.repoSearch' placeholder='Filter repos...')
        .list-group
          .list-group-item(ng-repeat="repo in ctrl.repos | filter:{gh_path: ctrl.repoSearch}")
            span(ng-if="repo.project_id")
              a(href='http://google.com')
                | {{ repo.gh_path }}
              button.stop.watch-button.btn.btn-default.btn-sm.pull-right
                | Stop watching project
            span(ng-if="!repo.project_id")
              | {{ repo.gh_path }}
              button.start.watch-button.btn.btn-default.btn-sm.pull-right
                | Start watching project
