<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Code Overview</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <script>
      window.$ = window.jQuery = require('../bower_components/jquery/dist/jquery.js');
      window.d3 = window.d3 = require('../bower_components/d3/d3.js');

      var win = require('remote').getCurrentWindow();
      if (!win.isDevToolsOpened()) { win.toggleDevTools(); }
    </script>
  </head>
  <body>
    <div class="col-md-12">
      <h1 class="text-center">Code Overview</h1>
    </div>
    <div id="d3-target" width="800" height="480">
    </div>
    <script
      type="application/javascript"
      src="../client/vis.js">
    </script>
  </body>
</html>
