.projects-index
  .row
    .col-md-offset-2.col-md-8.col-sm-offset-2.col-sm-8.col-xs-12
      .panel.panel-default
        .panel-body
          h3.panel-title
            input.form-control(
              type='text' ng-model='ctrl.projectSearch' placeholder='Filter projects...')
        .list-group
          .list-group-item(ng-repeat="project in ctrl.projects | filter:{gh_path: ctrl.projectSearch}")
            span
              a(ui-sref='app.projects.show(path: project.gh_path)' ng-if='project.watch')
                | {{ project.gh_path }}
              span(ng-if='!project.watch')
                | {{ project.gh_path }}
              project-watch-btn.pull-right(project='project')
