<div class="code-overview">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">
        <a ui-sref="app.home">diggit</a> / code-overview / {{ ctrl.metric }}
      </h1>
    </div>
  </div>

  <div class="fill-screen">

    <div class="loading-placeholder" ng-if="!(ctrl.gitWalkerData || ctrl.err)">
      <i class="fa fa-xl fa-cog fa-spin loading-cog"></i>
      <code class="loading-code-label">$ git_walker &lt;repo&gt;</code>
    </div>

    <div grand-perspective
         frame-data="ctrl.gitWalkerData"
         ng-if="!!ctrl.gitWalkerData"
         width="800" height="480">
    </div>
  </div>
</div>
