<div class="refactor-diligence">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center"><a ui-sref="app.home">diggit</a> / refactor-diligence</h1>
    </div>
  </div>

  <div class="fill-screen">

    <div class="loading-placeholder" ng-if="!(ctrl.profile || ctrl.err)">
      <div progress-circle circle-size="150px" total="ctrl.progress.total" count="ctrl.progress.count">
        <code ng-show="!!ctrl.progress.sha" class="loading-code-label">
          $ git checkout {{ ctrl.progress.sha }}
        </code>
      </div>
    </div>

    <div grand-perspective
         frame-data="ctrl.hierarchalProfile"
         ng-if="!!ctrl.hierarchalProfile"
         width="800" height="480"
         separator="::">
    </div>
  </div>
</div>
